<!-- NAVIGATION -->
<div class="container" fxLayout='column' >
    <div >
        <div >
            <div>
                <a 
                    (click)="goBack()"
                    class="glyphicon glyphicon-chevron-left" 
                    aria-hidden="true"
                ></a>
                <span>Export Invoice</span>
            </div>
        </div>
    </div>
       <!--<div> <pre>{{ myform.value | json}}</pre></div>-->
    <!-- HEADER -->
    <div >
        <div fxLayout="column" fxFlex="100%" fxLayoutAlign="space-around center"  >
            <!--  FORM -->
                <form [formGroup]="myform"  (ngSubmit)="onSubmit()" novalidate  fxLayoutWrap fxFlex="100%">
                  <div fxFlex="100%" fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="space-around center" >
                    <div  fxFlex="50%">
                        <md-input-container >
                          <input 
                            name="beginDate" 
                            formControlName="beginDate"
                            id="beginDateate" 
                            mdInput 
                            [mdDatepicker]="picker" 
                            placeholder="Start Date"
                            >
                          <button mdSuffix [mdDatepickerToggle]="picker"></button>
                        </md-input-container >
                        <md-datepicker #picker></md-datepicker> 
                    </div>
                        <div >
                          <md-input-container>
                            <input 
                              name="endDate" 
                              formControlName="endDate"
                              id="endDate" 
                              mdInput 
                              [mdDatepicker]="picker2" 
                              placeholder="End Date"
                             >
                            <button mdSuffix [mdDatepickerToggle]="picker2"></button>
                          </md-input-container>
                          <md-datepicker #picker2></md-datepicker>
                          </div>
                    </div>
                   <div  fxLayout="column" fxFlex=100%  > 
                        <div class='x' fxFlex="100%" >
                          <div *ngIf="!toggle" >
                                    <label for="amount">Discount Amount </label>
                                    <div class="input-group ">
                                        <input class="form-control "
                                                name="amount"
                                                formControlName="amount"
                                                id="amount" 
                                                type="text" 
                                        > 
                                        <span class="input-group-addon iv-group-addon-1" (click)= "toggleIt()">%</span>
                                        <span class="input-group-addon iv-group-addon-1" (click)= "toggleIt()">$</span>
                                    </div>
                              </div>
                              <div *ngIf="toggle"fxFlex="100%">
                                    <label for="discount"> Discount Percentage </label>
                                    <div class="input-group ">
                                        <input class="form-control "
                                                name="discount" 
                                                formControlName="discount"
                                                id="discount" 
                                                type="text" 
                                                
                                        > 
                                    <span class="input-group-addon iv-group-addon-2" (click)= "toggleIt()">%</span>
                                    <span class="input-group-addon iv-group-addon-2" (click)= "toggleIt()">$</span>
                                </div>
                              </div>
                         </div>
                    </div>
               <div fxLayout="column" fxFlex="100%">
                        <label for="notes">Description/notes</label>
                        <textarea 
                             class="form-control iv-notes" 
                             name="description" 
                             formControlName="description"
                             id="description" 
                             type="textbox" 
                             required
                             placeholder="Type Here">
                          </textarea>
                     </div>
                        <div fxFlex="10%">
                     <div fxLayout="column" >
                         <button >Submit </button>
                     </div>
                        </div>
                </form>
          </div>
     </div>
<!--<br>
      <h3>Form changes</h3>
      <pre><code>{{ output | json }}</code></pre>
      <h3>Subbmited form</h3>
      <pre>{{ submittedForm | json }}</pre>-->
</div>
