@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap-glyphicons.css");
* {
    box-sizing: border-box;
    font-size: 20px;
    max-width: 100%;
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight: 300;
}
.x {
  background-color: green;
}

/*-------------- INVOICE NAVBAR -----------------------*/

.iv-nav {
    margin: 10px 0;
}


/*-------------- INVOICE INPUTS -----------------------*/



.form-control {
    font-size: 100%;
}

.iv-date {
    width: 100%;
}

.iv-notes {
    max-width: 25%;
    height: 100px;
    resize: none;
    box-sizing: border-box;
    border-radius: 4px;
    background-color: #fff;
    font-size: 100%;
}

.iv-group-addon {
    background: transparent;
    border-left: transparent;
    background-color: yellow;
    padding: 0;
}


