


.spacer{
  display:flex;
  flex: 1 1 auto;
  background-color: orange;
}

.full-width {
  width: 100%;
}

// .blue {
//   background-color: blue;
// }

// .red {
//   background-color: red;
// }


