
 <form [formGroup]="myform"  fxLayoutWrap fxLayout="row" fxLayoutAlign="center center" class="red">
   <div class="spacer" fxFlex="20%"></div> 
   <div id="main-column" fxLayout="column" fxFlex="60%"  class="blue"> 
    <table class="full-width"  cellspacing="0" fxFlex="100%" Flayout="row">
    <tr >
      <td>
        <md-input-container class="full-width" >
          <input mdInput placeholder="Street" formControlName="street1" >
        </md-input-container>
      </td>
      <td>
        <md-input-container class="full-width">
        <input mdInput placeholder="Suite or Apt" formControlName="street2">
      </md-input-container></td>
    </tr>
    <tr>
      <td><md-input-container class="full-width">
        <input mdInput placeholder="City" formControlName="city" >
      </md-input-container></td>
      <td><md-input-container class="full-width">
        <input mdInput placeholder="State" formControlName="state" >
      </md-input-container></td>
    </tr>
    <tr>
      <td><md-input-container class="full-width">
        <input mdInput placeholder="Postal Code" formControlName="postalCode">
      </md-input-container></td>
      <td><md-input-container class="full-width">
        <input mdInput placeholder="Country" formControlName="country">
      </md-input-container></td>
    </tr>
  </table>
  </div>
  <div class="spacer" fxFlex="20%"></div> 
</form>          