<div class="my-container">
   <md-toolbar color="primary">
    <md-icon class="icon" (click)="goBack()" svgIcon="chevron-left"></md-icon>
    <span class="bi-spacer"></span>
    <span>Invoice Preview</span>
    <span class="bi-spacer"></span>
    <md-icon ></md-icon>
  </md-toolbar>
    <div id="invoice-body">
      <div class="invoice-box" >
        <table cellpadding="0" cellspacing="0">
          <tr class="top">
            <td colspan="2">
              <table>
                <tr>
                  <td class="title">
                    <div>
                      <img  src='../../assets/images/logo/large-press.png_48x48.png'>
                      My Company Name
                    </div>
                  </td>
                  <td>
                    Invoice #: {{invoiceKey}}<br> Created: {{createdDate| date:'yMd'}}<br> Due: {{dueDate| date:'yMd' }}
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr class="information">
            <td colspan="2">
              <table>
                <tr>
                  <td>
                    {{coName}}<br>{{address}}
                  </td>
                </tr>
              </table>
            </td>
          </tr>
            <tr class="heading item row0">
             <td class="col1">  </td> 
            <td class="col1 col1-mid"> Overall Invoice Description </td>
             <td class="col1 line-total"></td> 
             <td class="col1-spacer"> </td> 
          </tr>
          <tr class="item row0" style='{ min-height: 50px;}'>
            <td class="col1 col1-mid"> {{description}} </td>
            <td class="col1-spacer"> </td>
          </tr> 

          <tr class="heading item row1">
            <td class="col1"> Item </td>
            <td class="col1 col1-mid"> Specific Item Description </td>
            <td class="col1 line-total"> Price </td>
             <td class="col1-spacer"> </td> 
          </tr>

          <tr class="item row1"  *ngFor="let i of items">
            <td class="col1"> {{i.date| date:'yMd'}} </td>
            <td class="col1 col1-mid"> {{i.description}} </td>
            <td class="col1 line-total"> {{i.total}} </td>
            <td class="col1-spacer"> </td>
          </tr>
          
          <tr class="total row1">
            <td class="col1"></td>
            <td class="col1"></td>
            <td class="col1 line-total"> Total: ${{total}} </td>
             <td class="col1-spacer-small"> </td>  
          </tr>
        </table>
      </div>
    </div>
    <footer id="footer" class="row2"> 
       <div class="col2 col2-mid">
          <button md-raised-button >Submit </button>
           <!-- <button class="my-submit-btn" type="submit" (click)="submit()">Submit</button> -->
       </div>
    </footer>
</div>