<div class="my-container">
   <md-toolbar color="primary">
    <md-icon class="icon" (click)="goBack()" svgIcon="chevron-left"></md-icon>
    <span class="bi-spacer"></span>
    <span>InvoicePreview</span>
    <span class="bi-spacer"></span>
    <md-icon class="icon" (click)="goToEditCompany()" svgIcon="add"></md-icon>
  </md-toolbar>
    <div id="invoice-body">
      <div class="invoice-box" >
        <table cellpadding="0" cellspacing="0">
          <tr class="top">
            <td colspan="2">
              <table>
                <tr>
                  <td class="title">
                    <div>
                      <img  src='../../assets/images/logo/large-press.png_48x48.png'>
                      My Company Name
                    </div>
                  </td>
                  <td>
                    Invoice #: {{invoiceId}}<br> Created: {{createdDate| date:'yMd'}}<br> Due: {{dueDate| date:'yMd' }}
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr class="information">
            <td colspan="2">
              <table>
                <tr>
                  <td>
                      {{coName}}<br> {{street1}}<br> {{city}}, {{state}} {{postalCode}}
                  </td>
                  <td>
                      <!-- {{coName}}<br> John Doe<br> john@example.com -->
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr class="heading row1">
            <td class="col1"> Payment Method </td>
            <td class="col1 col1-mid"> </td>
            <td class="col1"> Check # </td>
          </tr>

          <tr class="details row1">
            <td class="col1"> Check </td>
            <td class="col1 col1-mid"> </td>
            <td class="col1"> 1000 </td>
          </tr>

          <tr class="heading item row1">
            <td class="col1"> Item </td>
            <td class="col1 col1-mid"> Description </td>
            <td class="col1"> Price </td>
          </tr>

          <tr class="item row1"  *ngFor="let i of items">
            <td class="col1"> {{i.date| date:'yMd'}} </td>
            <td class="col1 col1-mid"> {{i.description}} </td>
            <td class="col1"> {{i.total}} </td>
          </tr>
          
          <tr class="total row1">
            <td class="col1"></td>
            <td class="col1"></td>
            <td class="col1"> Total: ${{total}} </td>
          </tr>
        </table>
      </div>
    </div>
    <footer id="footer" class="row2"> 
       <div class="col2 col2-mid">
          <button md-raised-button >Submit </button>
           <!-- <button class="my-submit-btn" type="submit" (click)="submit()">Submit</button> -->
       </div>
    </footer>
</div>