div {
  display: block;
  overflow-wrap: break-word;
  // background-color: yellow;

}
td {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.head {
  display: flex;
  justify-content: center;
  flex-direction: row;
  text-align: center;
}

.red {
  background-color:red;
}