<div class="alert">
    <h2>Hey! Read Me :D</h2>
    <p>I made this pen a looooong time ago. If you are looking a better example of how to style radio buttons on forms, take a look at my new version: <a target="_blank"  href="https://codepen.io/AngelaVelasquez/details/BWXbxP">Click here</a>. Also I wrote a <a target="_blank" href="https://codepen.io/AngelaVelasquez/post/css-styling-radio-button">post</a> about this.</p>
</div>

<div class="container">
    
    <h2>Tomorrow I want some:</h2>
    
  <ul>
  <li>
    <input type="radio" id="f-option" name="selector">
    <label for="f-option">Pizza</label>
    
    <div class="check"></div>
  </li>
  
  <li>
    <input type="radio" id="s-option" name="selector">
    <label for="s-option">Bacon</label>
    
    <div class="check"><div class="inside"></div></div>
  </li>
  
  <li>
    <input type="radio" id="t-option" name="selector">
    <label for="t-option">Cats</label>
    
    <div class="check"><div class="inside"></div></div>
  </li>
</ul>
</div>

<div class="signature">
    <p>Made with <i class="much-heart"></i> by <a href="https://codepen.io/AngelaVelasquez">Angela Velasquez</a></p>
</div>