
<md-card class="example-card"  [ngClass]="setClassColor()" >
  <md-card-header>
    <button md-button  class="title" (click)="goToCompanyDetails()">{{name}}</button>
  </md-card-header>
  <md-card-actions [ngClass]="setClassColor()" >
    <button md-button  (click)="goToCompanyDetails()">Details</button>
    <button md-button  (click)="goToInvoiceList()"> Invoices</button>
    <button md-button  (click)="goToInvoice()">New Invoice</button>
    <button md-button (click)="addItem()">New Item</button>
  </md-card-actions>
</md-card>


