


* {
  color: #fdfdfe; 
}
  .example-card {
  width: 400px;
  margin: 10px;
  /* background-color: green; */
}

.title {
  font-size: 20px;
}





/*------------colors--------------------*/
.blue   { background-color: #3498db; }
.green  { background-color: #00C853; }
.yellow { background-color: #f1c40f; }
.red    { background-color: #e74c3c; }
.purple { background-color: #9b59b6; }
.brown  { background-color: #8D6E63; }
#my-card-bottom.green  { background-color: #00d95a; }
#my-card-bottom.brown  { background-color: #795548; }
#my-card-bottom.red    { background-color: #eb685a; }
#my-card-bottom.blue   { background-color: #2487c9; }
#my-card-bottom.yellow { background-color: #e2b70d; }
#my-card-bottom.purple { background-color: #a265bb; }
