/*@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap-glyphicons.css");*/

@import '../../../_variables.scss';
@import url("//fonts.googleapis.com/icon?family=Material+Icons");

.bi-icon {
  padding: 0 14px;
}
test {
  background-color: greenyellow;
}
.bi-spacer {
  flex: 1 1 auto;
}
.bi-spacer-card {
  flex: 1 1 25%;
  background-color: yellowgreen;
}
.bi-card {
  margin: 10px 0 0 0;
}


