/*@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap-glyphicons.css");*/
* {
    font-size: 20px;
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight: 300;
}
html, body {
    height: 100%;
}

.my-container {
    display: flex;
    flex: 1 1 0;
    flex-direction: column;
    width: 100vw;
    height: 100%;
    margin: 0;
    /*margin: 0 -15px;*/
    /*background: mediumpurple;*/
}

.section {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    min-width: 80%;
    max-width: 100%;
    min-height: 40px;
    max-height: 100%;
    margin: 0;
    /*background-color: yellow;*/
}

.row {
    display: flex;
    flex-direction: row;
    min-height: 100%;
    max-height: 100%;
    min-width: 100%;
    margin: 0px;
    /*background-color: brown;*/
}

.column {
    display: flex;
    flex: 1 1 0px;
    flex-direction: column;
    max-width: 100%;
    min-width: 10%;
    max-height:100%;
    min-height: 80%;
    /*background-color: orange;*/
}

.item{
    margin: auto;
    color: #f2f2f2;
    max-width: 100%;
    /*background-color: magenta;*/
}

/* -------------- NAVBAR ---------------------*/
.header {
    /*position: fixed;
    left: 0px;
    top: 0px;*/
    max-height: 125px;
    min-width: 100%;
    max-width: 100%;
    z-index: 2;
    /*background-color: magenta;*/
}

.glyphicon, #plus-link  {
    color: white;
} 

#plus-link {
    font-weight: 300;
    font-size: 75%;
}

.spacer {
    max-height: 70px;
    min-height: 70px;
    max-width: 100vw;
    min-width: 100vw;
    background-color: white;
}
#section1 {
     flex-direction: column;
       flex: 1 1 auto;
       justify-content: space-between;
    /*background-color: brown;*/
       

}
#sec1row1 {
     flex-direction: row;
       flex: 1 1 auto;
       justify-content: space-between;
       min-height: 30px;
}
#sec1row1col2 {
     display:flex;
    flex: 10 10 0px;
    /*background-color: orangered;*/
}
#sec1row2 {
     flex-direction: row;
       flex: 1 1 auto;
       min-height: 125px;
       justify-content: space-between;
       /*background-color: green;*/
}
#sec1row2col1, #sec1row2col3 {
     flex: 1 1 auto;
    max-width: 40%;
    min-width: 40%;
    min-width: 20px;
    height: 100px;
    /*background-color: pink;*/
}
#sec1row2col2{
    display:flex;
     flex: 1 1 auto;
        margin: 20 0 20 0;
        /*background-color:yellow;*/

    max-width: 1000px;
    min-width: 700px;
    min-height: 125px;
    max-height: 150px;
 

}
.cd-midbar {
    width: 100%;
    min-height: 30px;
    background-color: black;
    color: white;
}

/*--------COMPANY DETAIL COMPONENT-----------*/
#section2 {
    flex: 1 1 auto;
    margin-top: 125px;
    margin-bottom: 60px;
    margin-left: -15px;
    /*background-color: magenta;*/
}
#sec2row1 {
    flex: 1 1 auto;
    /*background-color: sandybrown;*/
}

#sec2row1col1,
#sec2row1col3 {
    flex: 1 1 auto;
    max-width: 20%;
    min-width: 20px;
    /*background-color: pink;*/
}
#sec2row1col2 {
    flex: 1 1 auto;
 
    max-width: 1000px;
    min-width: 700px;
    min-height: 100%;
    /*background-color: orangered;*/
}

/*------------------FOOTER-------------------------------*/
#section3{
    /*display: flex;*/
    position: fixed;
    left: 0px;
    bottom: 0px;
    max-height: 65px;
    width: 100%;
    z-index: 2;
    background-color: white;
}
#sec3row1 {
    flex: 1 1 auto;
    /*background-color: brown;*/
}

#sec3row1col1, #sec3row1col3 {
    flex: 1 1 0px;
    max-width: 15%;
    min-width: 20px;
    /*background-color: orangered;*/

}
#sec3row1col2 {
    flex: 3 3 auto;
    min-height: 100%;
    /*background-color: orangered;*/
}

#cd-submit {
    font-size: 90%;
    border-radius: 4px;
    border: transparent 0px;
    background-color: #34495e;
    color: #f2f2f2;
    max-width: 25%;
    min-width: 25%;
    max-height:100%;
    min-height: 50px;
    margin: auto 0;
}

/*-------------- COMPANY COLORS ----------------------*/
.blue   { background-color: #3498db; }
.green  { background-color: #00C853; }
.yellow { background-color: #f1c40f; }
.red    { background-color: #e74c3c; }
.purple { background-color: #9b59b6; }
.brown  { background-color: #8D6E63; }

/*==============SMALL SCREENS==================*/
/*screen-xs*/
@media (max-width: 480px) {
    #section2 {
        flex: 1 1 auto;
        min-width: 350px;
        max-width: 850px;
    }
    #sec2row1col2 {
    flex: 1 1 auto;
    max-width: 800px;
    min-width: 300px;
    min-height: 100%;
    /*background-color: orangered;*/
}
    #sec2row1col1, #sec2row1col3 {
        display: none;
    }
    #section3 {
        background-color: black;
    }
    #sec3row1col2 {
        flex: 1 1 0px;
        justify-content: center;
    }
    #sec3row1col1, #sec3row1col3 {
        display: none;
    }
    #cd-submit {
        font-size: 120%;
        border-radius: 0px;
        margin: auto;
        background: transparent;
    }
}
