<!-- NAVIGATION -->
<div class="container" fxLayout='column'  >
  <md-toolbar color="primary">
    <input  type="image" src='../../assets/images/logo/large-press.png_48x48.png' (click)='onLogOut()' alt="logo">
    <span class="bi-spacer"></span>
    <span>Current Companies</span>
    <span class="bi-spacer"></span>
    <md-icon class="bi-icon" (click)="goToEditCompany()" svgIcon="add"></md-icon>
  </md-toolbar>
    
  <!--COMPANY CARDS -->
  <div fxFlex="1 1 10px"></div>
  <div fxLayoutWrap fxLayout="row" fxLayoutAlign="center center">
    <div class="bi-spacer-card"></div> 
    <div id="bi-card" fxLayoutWrap fxLayout="row" fxLayoutAlign="center center" fxFlex="1 1 60%">
      <app-company-card *ngFor="let company of companiesArray" [companiesArray]="companiesArray" [company]="company"> </app-company-card>
    </div>
    <span class="bi-spacer-card"></span>  
  </div>
</div>
