<!-- NAVIGATION -->
<div class="container" fxLayout='column' >
  <md-toolbar color="primary">
    <md-icon class="icon" (click)="goBack()" svgIcon="chevron-left"></md-icon>
    <span class="spacer"></span>
    <span class="tb-text">{{title}}</span>
  </md-toolbar>
 
  <!--  FORM -->
  <div fxLayout="row" fxFlex="100%" flexLayoutWrap fxLayoutAlign="space-around center"  >
    <form [formGroup]="myform"  (ngSubmit)="onSubmit()" novalidate  fxLayoutWrap fxFlex="100%">
      <md-tab-group fxFlex="100%">
        <md-tab label="General" >
         
          <!-- ================ ROW1 =============================== -->
          <div class="row"fxLayout="row"  fxLayoutAlign="space-around center" fxGap="10px" >
           <div fxLayout="column" fxFlex="20%"></div> 
          <div fxLayout="column" fxFlex="35%">
            <md-input-container class="example-full-width">
              <input mdInput formControlName="name" placeholder="Business Name">
            </md-input-container>
          </div>
            <div  id="input-box2" class="input-box" fxLayout="column" fxFlex="50%">
              <label id="label2" class="input unit" for="color" >Business Color</label>
              <div class="input unit" id="color" >
                <input type="radio" id="tag1" value="brown" class="form-control" 
                  formControlName="color" name="color" [checked]="myform.controls.color.value === 'brown'"
                  >
                <label class=" ec-radio brown" for="tag1"></label>
                <input type="radio" id="tag2" value="blue" class="form-control" formControlName="color" name="color" [checked]="myform.controls.color.value === 'blue'">
                <label class=" ec-radio blue" for="tag2"></label>
                <input type="radio" id="tag3" value="green" class="form-control" formControlName="color" name="color" [checked]="myform.controls.color.value === 'green'">
                <label class=" ec-radio green" for="tag3"></label>
                <input type="radio" id="tag4" value="yellow" class="form-control" formControlName="color" name="color" [checked]="myform.controls.color.value === 'yellow'">
                <label class=" ec-radio yellow" for="tag4"></label>
                <input type="radio" id="tag5" value="red" class="form-control" formControlName="color" name="color" [checked]="myform.controls.color.value === 'red'">
                <label class=" ec-radio red" for="tag5"></label>
                <input type="radio" id="tag6" value="purple" class="form-control" formControlName="color" name="color" [checked]="myform.controls.color.value === 'purple'">
                <label class=" ec-radio purple" for="tag6"></label>
              </div>
            </div> 
            </div>
          <!-- ================ ROW2 =============================== -->
          <div class="row" fxLayout="row" fxLayoutAlign="space-around center" >
            <div fxLayout="column" fxFlex="20%"></div>
            <div fxLayout="column" fxFlex="35%" >
            <md-input-container class="example-full-width">
              <input mdInput formControlName="hourly" placeholder="Hourly">
            </md-input-container>
          </div>
            <div id="input-box4" class="input-box" fxLayout="column" fxFlex="50%" >
              <label id="label4" class="input unit">Payment terms</label>
              <div id="input4" class="input ec-input unit">
                <md-radio-group formControlName="paymentTerms">
                  <md-radio-button  value="30">30</md-radio-button>
                  <md-radio-button value="15">15</md-radio-button>
                  <md-radio-button value="15">7</md-radio-button>
                </md-radio-group>
              </div>
            </div>
          </div>
          <!-- ================ ROW3 =============================== -->
          <div class="row" fxLayout="row" fxLayoutAlign="space-around center">
            <div fxLayout="column" fxFlex="20%"></div>
                <div   fxLayout="column" fxFlex=35%>
                  <label id="label5" class="input unit">Active company</label> 
                  <div id="input4" class="input ec-input unit">
                    <md-slide-toggle
                        formControlName="active"
                        class="example-margin "
                        [color]="color"
                        (change) = "onChange($event)"
                        [checked]="checked"
                        #active
                        >
                      Yes
                    </md-slide-toggle>
                </div>
              </div>
              <div  fxFlex="50%"fxLayout="column"></div>
            </div>
            

          
          </md-tab>
          <md-tab label="Address" fxLayout="column" >
            <app-address-edit [coId]="coId"></app-address-edit>
          </md-tab>
          
        </md-tab-group>
             <div fxLayout="row" class="row" fxLayoutAlign="space-around center" fxLayoutGap="10px">
              <div fxLayout="column" fxFlex="350px"></div> 
              <div fxLayout="column" fxFlex=5%>
                <button md-raised-button >Submit </button>
              </div>
             <div fxLayout="column" fxFlex="75%"></div>
          </div>
          
        
      </form>
  </div>
</div>
