@import '../../../_variables.scss';
@import url("//fonts.googleapis.com/icon?family=Material+Icons");

* {
    font-size: 20px;
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight: 300;
}
/*------------ TOOLBAR --------------------------*/
.icon {
  padding: 0 14px;
  font-size: 25px;
}
/*------------ INPUT BOXES ----------------------*/

.input-box {
  margin: 10px;
  min-width:30%;
  max-width:95%;
}
/*------------ COLOR RADIO BUTTONS --------------*/
 .ec-radio {
    // display:flex;
    margin-right: 20px;
    padding: 12px; 
    border-radius: 100%; 
    color: white;
    border: transparent 0px;
    width: 10px;
    height: 10px;
} 

.ec-radio:first-of-type {
    margin-left: 20px
}

input[type=radio] {
    display: none;
}

input[type=radio]:checked+label {
    border-color: black;
    border-style: solid;
    border-width: 3px;
}

/*--------------COLORS---------------------------------*/
.brown  { background-color: $brown; }
.blue   { background-color: $blue; }
.green  { background-color: $green; }
.yellow { background-color: $yellow; }
.red    { background-color: $red }
.purple { background-color: $purple; }

.unit {
  display: flex;
  margin: 5px;
  height: 30px !important;
}

/*-------------MD-RADIO-BUTTONS-----------------------*/
md-radio-button {
  margin-left: 20px;
}

/*-----------SLIDER-----------------------------------*/
md-slide-toggle {
  margin-left: 20px;
}
