/*-------COMPANY COLORS---------------*/
$brown: #8D6E63; 
$blue: #3498db;
$green: #00C853;
$yellow: #f1c40f;
$red: #e74c3c;
$purple: #9b59b6;

$brownAccent: rgba(141,110,99, 0.3);
$blueAccent: rgba(52,152,219,0.3);
$greenAccent: rgba(0, 200,83,0.3);
$yellowAccent: rgba(241,196,15,0.3);
$redAccent: rgba(231,76,60, 0.3);
$purpleAccent:rgba(155,89,182, 0.3);

/*---OTHER COLORS-----------------------*/
$grayBackground: #34495e;
$whiteFont: #f2f2f2;