<!-- NAVIGATION -->
<div class="container" fxLayout="column">
  <md-toolbar color="primary">
    <md-icon class="icon" (click)="goBack()" svgIcon="chevron-left"></md-icon>
    <span class="spacer"></span>
    <span class="tb-text">{{title}}Edit Item</span>
  </md-toolbar>
   
  <div fxLayout="column" fxFlex="100%" fxLayoutAlign="space-around center"  >

        <!--  <div class="zzz" id="col3" fxLayout="column"> -->
            <!--  FORM -->
            <form [formGroup]="myform" (ngSubmit)="onSubmit()" novalidate fxFlex="100%">
                <md-tab-group fxFlex="100%">
                    <md-tab label="Hours">
                      <div class="form-group col-xs-12 col-md-6">
                        <label for="hours">Hours</label>
                        <select
                          class="form-control ni-input "
                          formControlName="hours"
                          id="hours" 
                          type="text"
                        >
                        <option *ngFor="let h of hoursArray" [value]="h">{{h}}</option>
                        </select>
                      </div>
                    </md-tab>
                    <md-tab label="$Amount">
                        <div class="form-group col-xs-12 col-md-6">
                            <label for="amount">$Amount</label>
                            <input 
                              formControlName="amount"
                              id="amount" 
                              type="text" 
                              class="form-control"
                              placeholder="0"
                            >
                        </div>
                    </md-tab>
                </md-tab-group>
                        <div class="form-group col-xs-12 col-md-6">
                            <label for="date">Date</label><br>
                            <!--<input 
                              name="date" 
                              formControlName="date"
                              id="date" 
                              [mdDatepicker]="myDatepicker"
                            >-->
                          <md-input-container>
                            <input 
                              name="date" 
                              formControlName="date"
                              id="date" 
                              mdInput 
                              [mdDatepicker]="picker" 
                              placeholder="Choose a date"
                             >
                            <button mdSuffix [mdDatepickerToggle]="picker"></button>
                          </md-input-container>
                          <md-datepicker #picker></md-datepicker>
                            
                        </div>
                        <div fxFlex="50%">
                            <label for="description">Description/notes</label>
                            <textarea 
                                formControlName="description"
                                id="description" 
                                type="textbox" 
                                class="form-control ni-description" 
                                placeholder="Type Here">
                            </textarea>
                        </div>
                <div>
                    <button class="col-xs-12 col-md-6 myCol"  >
                        Submit
                    </button>
                </div>
            </form>
        </div>
        <div id="col4" class="column"></div>
     <footer id="footer" (click)="onSubmit()">Submit</footer>
</div>